@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply text-gray-800 antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-semibold py-2 px-4 rounded-lg hover:bg-opacity-90 transition;
  }

  .input-field {
    @apply w-full border border-gray-300 rounded-lg p-3 outline-none focus:border-black transition;
  }
} */